<h1>Find here all products</h1>
<% @products.each do |product| %>
  <div class="card-product">
    <img src="<%= product.url %>" alt="car-image">
    <div class="card-product-infos">
      <h2>Name</h2>
      <p>Description</p>
    </div>
  </div>
<% end %>
